{% extends 'base/base.html' %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <h1 class="text-center mb-4">Create Recipe</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
          </div>
        </br>
          <div class="form-group">
            <label for="{{ form.ingredients.id_for_label }}">Ingredients:</label>
            {{ form.ingredients }}
          </div>
        </br>
          <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Image:</label>
            {{ form.image }}
          </div>
        </br>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}